.ex1 > a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
.ex1 > a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
.ex1 > a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.ex1 > a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.ex2 > a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.ex2 > a:hover, a:active {
    background-color: red;
}