.ex1 {
    width: 500px;
}
.ex1 > h1 {
    color: rgb(0,200,0);
}
.ex1 > h2 {
    color: blue;
}
.accent {
    color: #ff0000;
}
.f_ph {
    width: 500px;
}
img {
    float: right;
}

.ex2 > p {
    line-height: e1.8;
}
.ex2 > a {
    text-decoration: none;
}
.edited {
    text-decoration: line-through;
}

.trans1 {
    text-transform: uppercase;
}
.trans2 {
    text-transform: capitalize;
}

.shadow1 {
    color: orange;
    text-shadow: 1px 1px;
}
.shadow2 {
    text-shadow: 5px 5px 3px #f00;
}
.shadow3 {
    color: #fff;
    text-shadow: 7px -7px 5px #000;
}

.letter1 {
    letter-spacing: 0.2em;
}
.letter2 {
    letter-spacing: 0.5em;
}

.bg {
    background-color: #000;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}
.shadow4 {
    color: #000;
    text-shadow: 0 0 4px #ccc, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -19px 18px #f20;
}

.under {
    color: red;
    text-decoration: underline;
}